# Debian crontab for WSN server on Beaglebone Black

# Check for IP changes.
*/3 * * * * cd /root/scripts; python /root/scripts/freeDNS_BBB.py
@reboot     cd /root/scripts; python /root/scripts/freeDNS_BBB.py

# Enable UART2 on start up.
@reboot sudo echo BB-UART2 > /sys/devices/bone_capemgr.*/slots

# Shutdown Beaglebone's heartbeat LED.
@reboot cd /sys/class/leds/beaglebone:green:usr0; echo none > trigger

# Start serverWSN.js on boot.
@reboot sudo forever start /var/lib/cloud9/WSN/serverWSN.js &> /dev/null
